html,
body {
  background-color: #fffaee; /* 전체 페이지 배경색 */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  user-select: none; /* 하이라이트 방지 */
}

.dice-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dice {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 4px solid #0096ff;
  color: #0096ff;
  font-weight: 700;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.dice:hover {
  background-color: #f5f5f5;
}

.manual-button {
  margin-top: 8px;
  width: 48px;
  height: 24px;
  font-size: 12px;
  color: #000;
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.locked {
  background-color: #dddddd;
  color: #aaa;
  border-color: #d3d3d3;
}

.locked:hover {
  background-color: #dadada;
}

.button-container {
  margin: 4px;
}

/* 현재 차례인 플레이어 열 하이라이트 */
.highlight {
  background-color: #fff0b4;
}

button {
  margin: 5px;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
}

.score-table {
  margin: 8px auto;
  border-collapse: collapse;
  height: 12px;
}

.category-row {
  height: 12px; /* Set the height specifically for category rows */
}

.score-table th {
  padding: 8px;
  border: 2px solid #3e413e; /* 테두리 스타일 추가 */
  cursor: default;
}

.score-table td {
  border: 2px solid #3e413e;
  padding: 2px 12px;
  text-align: left;
  width: 128px;
  cursor: default;
}

.score-table td:nth-child(2),
.score-table td:nth-child(3) {
  text-align: center;
  color: #aaa;
  width: 64px;
  font-size: 16px;
  cursor: pointer;
  height: 32px;
}

.score-table td:nth-child(2):hover,
.score-table td:nth-child(3):hover {
  background-color: #fedf5f;
}

.score-table td:not(.highlight):hover {
  background-color: transparent;
  cursor: default;
}

.total-row td:nth-child(2),
.total-row td:nth-child(3) {
  font-weight: 700;
  color: white !important; /* 우선순위 높이기 위해 !important 사용 */
  background-color: hsl(120, 2%, 25%);
  cursor: default;
  pointer-events: none;
  height: 12px;
}

.score-table td.fixed {
  color: #000;
  pointer-events: none;
  font-weight: 700;
}

.subtotal-row td:nth-child(1),
.bonus-row td:nth-child(1),
.total-row td:nth-child(1) {
  /* 첫 번째 칸에 대한 스타일 */
  font-weight: 700;
  background-color: hsl(120, 2%, 25%);
  color: #fff;
  pointer-events: none;
}

.subtotal-row td:nth-child(2),
.subtotal-row td:nth-child(3),
.bonus-row td:nth-child(2),
.bonus-row td:nth-child(3) {
  font-weight: 700;
  color: white;
  background-color: #bbb;
  cursor: default;
  pointer-events: none;
  height: 12px;
}


.restart-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.restart-button:hover {
  background-color: darkred;
}

.dice-container {
  padding: 8px;
}

.manual-controls {
  margin: 4px;
  margin-top: 8px;
  width: 48px;
  height: 24px;
  font-size: 12px;
  color: #000;
  background-color: #ccc;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.manual-controls:hover {
  background-color: #aaa;
}

.manual-controls-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #999;
}

.manual-controls-button:hover {
  background-color: #888;
}

.roll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
